body {
    background-color: #212121;
    margin: auto;
}

div {
    color: white;
}

.navbar {
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    border-bottom: solid 1px;
    border-color: black;
    background-color: #313131;
    margin-left: 0vw;
    margin-bottom: 10px;
    padding: 3%;
}

input {
    width: 60%;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 1px;
    border-radius: 10px;
    border-style: none;
    outline: none;
}

.game {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic';
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.clue {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    animation-name: fadein;
    animation-duration: 1.5s;
}

.clues {
    padding-bottom: 50px;
}

.suggestions {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    max-height: 140px;
    overflow: auto;
}

#suggestion {
    padding: 5px 5px;
    margin: 0;
}

#suggestion:hover {
    background-color: gainsboro;
    border-radius: 10px;
}

button {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: olivedrab;
    color: white;
    border: 2px solid;
    border-color: black;
    font-weight: bold;
    transition-duration: 0.2s;
}

button:hover {
    background-color: darkolivegreen;
    color: gainsboro;
    padding: 22px 44px;
}

#country {
    color: olivedrab;
}

#info {
    color: olivedrab;
}

#unit {
    color: lightsalmon;
}

